<table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort #sorterM="matSort">
  
    <ng-container matColumnDef="nome" >
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let squadra"> {{squadra.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="allenatore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Allenatore </th>
      <td mat-cell *matCellDef="let squadra"> {{squadra.username}} </td>
    </ng-container>

    <ng-container matColumnDef="punteggio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Punteggio </th>
      <td mat-cell *matCellDef="let squadra"> {{squadra.punteggio}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>